Even-Odd

In [26]:
def check_even_odd(n):
 return  n%2==0

n = int(input("Enter the number:"))
if check_even_odd(n):
   print("The number is even")
else:
   print("The number is odd")

Enter the number:3
The number is odd

Prime-Number CHECK

In [27]:
n =int(input("enter the number:"))
if n<2:
  print("Not prime")
else:
  is_prime = True
  for i in range(2, n):
    if n%i ==0:
      is_prime= False
      break
  if is_prime:
    print("Prime")
  else:
    print("Not prime")

enter the number:3
Prime

Factorial Of  A number

In [28]:
n = int(input("Enter the number:"))
factorial =1
for i in range(1,n+1):
  factorial= factorial *i
print("The factorial of the number is", factorial)

Enter the number:5
The factorial of the number is 120

Fibonacci Series

In [29]:
n = int(input("Enter the number:"))
a = 0
b =1
print("Fibonacci series")
for i in range(n):
  print(a, end=" ")
  c = a+b
  a=b
  b=c

Enter the number:4
Fibonacci series
0 1 1 2

Largest In a list

In [30]:
nums =[12,20,8,5]
largest = nums[0]
for num in nums:
  if num>largest:
    largest = num
print("The largest number is", largest)

The largest number is 20

Smallest in a List

In [31]:
nums =[12,20,8,5]
smallest = nums[0]
for num in nums:
  if num<smallest:
    smallest = num
print("The smallest number is", smallest)

The smallest number is 5

Second Largest

In [32]:
nums = [12, 20, 20, 8, 5]
largest = second = float('-inf')

for num in nums:
    if num > largest:
        second = largest
        largest = num
    elif num > second and num != largest:
        second = num

print("Second largest number is:", second)

Second largest number is: 12

Sum of Numbers in List

In [33]:
nums= [12,20,25,20]
sum = 0
for num in nums:
  sum = num +sum
print("The sum is", sum)

The sum is 77

Reverse a number

In [34]:
n = int(input("Enter the number:"))
rev = 0

while n>0:
  digit = n%10
  rev = rev*10 +digit
  n = n//10
print("The reverse is", rev)

Enter the number:65
The reverse is 56